@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}
/* ARCHIVE */
.archive-title {
  font-size: 18px;
}
.archive-title a,
.archive-title a:visited {
  color: var(--bs-primary);
}
.description-content {
  font-size: 14px;
}
/* EDIT IFRAME */
iframe {
  width: 100%;
}
/* SINGLE */
.card-header h2,
.card-header h3 {
  font-size: 22px;
}
/* EDIT SINGLE SEPARTOR */
.showinfo {
  border-top: 8px solid rgb(199, 5, 5);
}
